<div class="grid" *ngIf="productsQuantity > 0">
  <ng-container>
<!-- Using *ngFor to iterate through each category products or through all products  -->
    <div class="col" *ngFor="let product of productList | paginate: { itemsPerPage: 9, currentPage: p } ">
      <img class="img-product" src="{{ product.thumbnail }}" alt="">
      <div class="dc">
        <p> -{{ product.discountPercentage }}% </p>
      </div>
      <p id="product-title">{{ product.title }}</p>
      <div id="product-description">
        {{ product.description }}.
        <div class="blur-block"></div>
      </div>
      <div class="product-price">
        <p> <span id="price-dc"><span style="font-weight:bold;">{{ product.price }} </span> <span>USD</span> </span>
          <span style="font-weight:bold;">477.85 </span><span>USD</span></p>
      </div>
      <p class="product-details">Brand: <span style="font-weight:bold;">{{ product.brand }}</span></p>
      <p class="product-details">Category: <span style="font-weight:bold;">{{ product.category }}</span></p>
      <p class="product-details">In stock: <span style="font-weight:bold;">{{ product.stock }}</span></p>
      <span class="product-rating"><img class="img-star" [attr.src]="'assets/images/star-17.png'" alt=""> <span
          style="color:#F4B000;"> {{ product.rating }} </span> <span>({{ product.id }})</span> </span>
      <button class="btn">ADD TO CART</button>
    </div>
  </ng-container>
</div>
<!-- Pagination Controls  -->
<div class="pagination" *ngIf="productsQuantity > 0">
  <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
  </pagination-controls>
  <div>Total products: {{ productsQuantity }}</div>
</div>
<div *ngIf="productsQuantity < 1">Sorry, nothing found.</div>
